.Clear {
  display: none;
  background-color: transparent;
  height: 10rem;
  margin: auto;
}

/* class name may have to change if 'Raining' does not match the word on display */
.Rain {
  display: none;
  background-color: transparent;
  height: 10rem;
  margin: auto;
}

.Clouds {
  display: none;
  background-color: transparent;
  height: 10rem;
  margin: auto;
}

.weather {
  font-family: 'Varela Round' ;
  display: block;
}

.weather-search-box {
  display: flex;
}

.weather-search-box .weather-search-bar {
  display: block;
  width: 100%;
}
