.sunny {
  background-color: 'transparent';
}

.rainy {
  background-color: 'transparent';
}

.cloudy {
  background-color: 'transparent';
}

.weather {
  height: 100px;
}

.weather-search-box {
  display: flex;
}

.weather-search-box .weather-search-bar {
  display: block;
  width: 100%;
}
