.progress {
  position: relative;
  width: 100%;
  height: 15px;
  margin: 0 0 20px;
  background: rgb(155, 155, 155);
  border-radius: 3px;
}

.habits-completed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: width 500ms;
  background: rgb(181, 246, 236);
}

.todos-completed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: width 500ms;
  background: rgb(228, 164, 175);
}
/* .progressbar .completed {
  background: green;
} */
